$primary-bg: #e6e6e6;
$dark-bg: #5a5a5a;

.game {
    .counters {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        .counter {
            display: flex;
            padding: 10px 20px;
            flex-direction: column;
            margin: 0 10px;    
            background: $primary-bg;
            border: 1px solid $dark-bg;
            text-align: center;
        
            .name {
                color: grey;
                font-size: 12pt;
            }
        
            .value {
                color: #000;
                font-size: 16pt;
            }
        }
    }
    
    .board {
        display: grid;
        max-width: 310px;
        min-height: 305px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin: 0 auto;
        background: $dark-bg;
        padding: 10px;

        &.disabled {
            cursor: default!important;
            opacity: 0.8;
        }
    
        .cell {
            display: flex;
            width: 60px;
            height: 60px;
            background: $primary-bg;
            font-size: 20pt;
            color: #333;
            text-align: center;
            align-items: center;
            justify-content: center;
            transition: all 0.1s ease-in-out;
            cursor: default;
            user-select: none;

            &.hide {
                opacity: 0;
            }
        }
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-direction: column;

        span {
            color: green;
            text-align: center;
            padding: 0 10px;
        }
        
        button {
            cursor: pointer;
            padding: 10px 20px;
            margin-top: 10px;
            font-size: 12pt;
        }

        .keyboard {
            display: flex;
            width: 100%;
            max-width: 300px;
            margin: 10px auto;
            justify-content: center;
            align-items: center;

            .key {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 50px;
                cursor: pointer;
                font-size: 24pt;
                color: #fff;
                border-radius: 10px;
                background: #444444;
                margin: 5px;
                user-select: none;
                transition: all 0.1s ease-in-out;

                &:hover {
                    background: #555555;
                }

                &:active {
                    background: #333333;
                }
            }
        }
    }
}